.mainContainer{
  display: flex;
  justify-content: center;
  height: 15vh; 
  text-align: center;
}
.container {
    margin-top: 80px;
    color: black;
    font-weight: 600;
    background-color: blue;
    border-radius: 15px;
    width: 500px;
    height: 100px;
    background-color: #d9d6e3;
}
.confirmation{
    margin-top: 10px;
    color: black;
   
}
.blogButton
{
	margin-top: 20px;
    margin-right: 10px;
	background-color: orange;
    border: black 2px solid;
    border-radius: 10px;
    width: 70px;
    height: 30px;
	color: black;
	font-weight: 600;
	cursor: pointer;
}